.article p{
  font-size: 1.1em;
  line-height: 1.7em;
  word-spacing: 4px;
  font-family: 'Merriweather',Times,serif;
  font-weight: 300;;
  margin-bottom: 1.6em;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Lato', sans-serif;
}

.article li{
  font-family: 'Lato', sans-serif;
  padding : 10px;
  word-spacing: 5px;

}
.article code {
  font-size: 1.2em;

}
.inline-code {
  background: #a6a6a6;
  padding : 2px;
}
