@import url(https://fonts.googleapis.com/css?family=Merriweather:300|Open+Sans:300);.header-container {
  background: #ffffff;
  font-family: 'Open Sans', sans-serif; }

.header {
  width: 700px;
  margin: auto;
  border-bottom: 1px solid #ececec;
  padding: 8; }
  .header .title {
    font-size: '1.3em';
    position: relative;
    top: 4;
    left: 10; }

.header img {
  width: 50px;
  vertical-align: middle; }

.nav-container {
  text-align: center;
  background: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  width: 100%; }
  .nav-container a {
    color: #aeaeae; }
  .nav-container .active-link {
    color: #38c792; }
  .nav-container .nav-link {
    text-decoration: none;
    line-height: 45px;
    padding: 0 30px;
    font-size: 0.9em; }
.article {
  text-align: center; }
  .article p, .article li {
    font-size: 1.2em;
    line-height: 1.7em;
    word-spacing: 4px;
    font-family: 'Merriweather',Times,serif;
    font-weight: 300;
    margin-bottom: 1.6em;
    text-align: left; }

h1, h2, h3, h4, h5, h6 {
  text-align: left;
  font-family: 'Lato', sans-serif; }

.article code {
  font-size: 1.2em;
  text-align: left; }

.left-gully, .right-gully, .article-content {
  display: inline-block;
  text-align: left; }

.article-content {
  width: 700px;
  vertical-align: top; }

.card {
  display: block;
  width: 95px;
  min-height: 95px;
  background: #f4f4f4;
  padding: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12); }
/*

Railscasts-like style (c) Visoft, Inc. (Damien White)

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #232323;
  color: #e6e1dc; }

.hljs-comment,
.hljs-quote {
  color: #bc9458;
  font-style: italic; }

.hljs-keyword,
.hljs-selector-tag {
  color: #c26230; }

.hljs-string,
.hljs-number,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
  color: #a5c261; }

.hljs-subst {
  color: #519f50; }

.hljs-tag,
.hljs-name {
  color: #e8bf6a; }

.hljs-type {
  color: #da4939; }

.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-attr,
.hljs-link {
  color: #6d9cbe; }

.hljs-params {
  color: #d0d0ff; }

.hljs-attribute {
  color: #cda869; }

.hljs-meta {
  color: #9b859d; }

.hljs-title,
.hljs-section {
  color: #ffc66d; }

.hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%; }

.hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%; }

.hljs-selector-class {
  color: #9b703f; }

.hljs-selector-id {
  color: #8b98ab; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

.hljs-link {
  text-decoration: underline; }

